.services {
  background-color: #1d809f;
  padding: 120px 0;
  text-align: center;
}

.services h3 {
  font-size: 1rem;
  color: rgb(236, 184, 7);
  margin: 0;
  padding: 0;
}

.services h2 {
  font-size: 3rem;
  color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.services .row {
  display: flex;
  justify-content: space-around;
}

.services .row span {
  background-color: #ffffff;
  color: #1d809f;
  font-size: 2.25rem;
  height: 7rem;
  width: 7rem;
  display: inline-block;
  border-radius: 50%;
  line-height: 7rem;
}
